.projects-page{
    text-align: center;
}
.project-image{
    height: 40%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
}
  
.modal-content {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 80%;
    height: 80%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
  
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
  
.modal-close:hover {
    background: darkcyan;
}
    
.project-link:hover {
    background-color: #fafafa;
    color: darkcyan;
}

.lienssite{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.projects-page {
    padding: 20px;
}
  
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
}
  
.project-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px;
}
  
.project-card img {
    width: 100%;
    border-radius: 8px;
}
  
.project-card h3 {
    margin-top: 15px;
}
  
.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color:  darkcyan;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
  
.project-card a:hover {
    background-color:  darkcyan;
}
  
.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
  
.filter-label {
    font-weight: bold;
}
.filters select {
    border: 2px solid darkcyan;  
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}


