.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-left {
    display: flex;
    align-items: center;
    color: darkcyan;
    margin-left: 5%;
    padding: 20px;
}

.footer-meteo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icon{
    width: 30px;
    height: 20px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer-left {
        margin-left: 0;
    }
    .footer-meteo {
        margin-right: 0;
    }
}
  