@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@400;600&display=swap');
.body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
main {
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
}
.home {
  
  padding: 0 20%;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
