* {
  box-sizing: border-box;
}
body,html {
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  background-color:rgb(231, 228, 228);
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  width: 100%;
}
.content {
  flex: 1;
}

.main-container {
  width: 100%;
}
* {
  font-family: "Montserrat", sans-serif;
}
.pagecontent {
  width: 100%;
  flex-grow: 1;
  padding: 0 3%;
  margin-bottom: 40px;
}