.home {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
    margin-top: 10%;
}
  
.photoweb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
  
.collapseContainer {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}
  
.collapseHeader {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.collapseHome {
    background-color: rgb(239, 242, 239);
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.homep {
    font-size: 14px;
    overflow: hidden;
}
.divhome {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-bottom: 20%;
}
.divhomediv {
    display: flex;
    flex-direction: column;
}

.typing-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    line-height: 1.5;
    display: block;
}

.line {
    display: block;
    overflow: hidden; 
    white-space: nowrap; 
    width: 0; 
    animation: typing 4s steps(40) forwards;
    margin-bottom: 20px; 
}

@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}

.line:nth-child(1) {
    animation: typing 2s steps(40) 3s forwards; 
    font-size: 26px;
}

.line:nth-child(2) {
    animation: typing 2s steps(40) 5s forwards; 
}

.line:nth-child(3) {
    animation: typing 2s steps(40) 7s forwards; 
}
.line:nth-child(4) {
    animation: typing 2s steps(40) 10s forwards; 
}


@media (max-width: 767.99px) {
    .line {
        font-size: 14px;
    }
    .photoweb {
        width: 150px;
        height: 150px;
        margin-top: 40px;
    }
    .divhome {
       gap: 0;
    }
   
}